* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: center;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #457b9d;
  width: 90%;
  margin: 50px auto;
  border-radius: 0.25rem;
}

thead tr:first-child {
  background: #457b9d;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

/* td:last-child {
  text-align: right;
  padding-right: 10px;
} */

a {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}
.view:hover {
  color: #1a8352;
}
.edit:hover {
  color: #0353a4;
}

.delete:hover {
  color: #dc2a2a;
}
